In [10]:
import sqlalchemy as db
from getpass import getpass
import pandas as pd

In [11]:
password = getpass("Mysql Password: ")

Mysql Password:  ············

In [12]:
dbName = "publications"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [13]:
engine = db.create_engine(connectionData)
print("Connected to server!")

Connected to server!

In [14]:
pd.read_sql_query("""
CREATE TEMPORARY TABLE table1(
SELECT 
	au.au_id AS 'AUTHOR ID', 
    t.title_id AS 'TITLE ID',
    t.price * s.qty * t.royalty / 100 * tta.royaltyper / 100 AS 'Royalty'
    FROM sales AS s
    LEFT JOIN titles AS t ON s.title_id=t.title_id
    LEFT JOIN titleauthor AS tta ON t.title_id=tta.title_id
    LEFT JOIN authors AS au ON tta.au_id=au.au_id);
""", engine)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [15]:
pd.read_sql_query("""
CREATE TEMPORARY TABLE table2(
SELECT 
	`AUTHOR ID`, 
    `TITLE ID`,
    SUM(`Royalty`) AS `Royalty`
    FROM table1
    GROUP BY `AUTHOR ID`, `TITLE ID`);
""", engine)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [16]:
df = pd.read_sql_query("""
SELECT 
	`AUTHOR ID`, 
    (t.advance*tta.royaltyper/100)+table2.`Royalty` AS `PROFIT`
    FROM table2
    LEFT JOIN titleauthor AS tta ON `AUTHOR ID`=tta.au_id
    LEFT JOIN titles AS t ON tta.title_id=t.title_id
    ORDER BY `PROFIT` DESC
    LIMIT 3
    ;
""", engine)
df         # ¿Por qué salen los errores de arriba? Aún así consigue devolver la solución aquí

     AUTHOR ID     PROFIT
0  722-51-5454  11271.528
1  213-46-8915  10150.116
2  213-46-8915  10136.994

In [17]:
df = pd.read_sql_query("""
SELECT `AUTHOR ID`, (t.advance*tta.royaltyper/100)+ dtable_2.`Royalty` AS `PROFIT`
    FROM (SELECT `AUTHOR ID`, `TITLE ID`, SUM(`Royalty`) AS `Royalty`
    FROM (SELECT au.au_id AS 'AUTHOR ID', t.title_id AS 'TITLE ID', t.price * s.qty * t.royalty / 100 * tta.royaltyper / 100 AS 'Royalty'
    FROM sales AS s
    LEFT JOIN titles AS t ON s.title_id=t.title_id
    LEFT JOIN titleauthor AS tta ON t.title_id=tta.title_id
    LEFT JOIN authors AS au ON tta.au_id=au.au_id) AS dtable_1
    GROUP BY `AUTHOR ID`, `TITLE ID`) AS dtable_2
    LEFT JOIN titleauthor AS tta ON `AUTHOR ID`=tta.au_id
    LEFT JOIN titles AS t ON tta.title_id=t.title_id
    ORDER BY `PROFIT` DESC
    LIMIT 3
    ;
""", engine)
df

     AUTHOR ID     PROFIT
0  722-51-5454  11271.528
1  213-46-8915  10150.116
2  213-46-8915  10136.994

In [18]:
pd.read_sql_query("""
CREATE TABLE most_profiting_authors(
SELECT `AUTHOR ID`, (t.advance*tta.royaltyper/100)+ dtable_2.`Royalty` AS `PROFIT`
    FROM (SELECT `AUTHOR ID`, `TITLE ID`, SUM(`Royalty`) AS `Royalty`
    FROM (SELECT au.au_id AS 'AUTHOR ID', t.title_id AS 'TITLE ID', t.price * s.qty * t.royalty / 100 * tta.royaltyper / 100 AS 'Royalty'
    FROM sales AS s
    LEFT JOIN titles AS t ON s.title_id=t.title_id
    LEFT JOIN titleauthor AS tta ON t.title_id=tta.title_id
    LEFT JOIN authors AS au ON tta.au_id=au.au_id) AS dtable_1
    GROUP BY `AUTHOR ID`, `TITLE ID`) AS dtable_2
    LEFT JOIN titleauthor AS tta ON `AUTHOR ID`=tta.au_id
    LEFT JOIN titles AS t ON tta.title_id=t.title_id
    ORDER BY `PROFIT` DESC
    LIMIT 3)
    ;
""", engine)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

InternalError: (pymysql.err.InternalError) (1050, "Table 'most_profiting_authors' already exists")
[SQL:
CREATE TABLE most_profiting_authors(
SELECT `AUTHOR ID`, (t.advance*tta.royaltyper/100)+ dtable_2.`Royalty` AS `PROFIT`
    FROM (SELECT `AUTHOR ID`, `TITLE ID`, SUM(`Royalty`) AS `Royalty`
    FROM (SELECT au.au_id AS 'AUTHOR ID', t.title_id AS 'TITLE ID', t.price * s.qty * t.royalty / 100 * tta.royaltyper / 100 AS 'Royalty'
    FROM sales AS s
    LEFT JOIN titles AS t ON s.title_id=t.title_id
    LEFT JOIN titleauthor AS tta ON t.title_id=tta.title_id
    LEFT JOIN authors AS au ON tta.au_id=au.au_id) AS dtable_1
    GROUP BY `AUTHOR ID`, `TITLE ID`) AS dtable_2
    LEFT JOIN titleauthor AS tta ON `AUTHOR ID`=tta.au_id
    LEFT JOIN titles AS t ON tta.title_id=t.title_id
    ORDER BY `PROFIT` DESC
    LIMIT 3)
    ;
]
(Background on this error at: http://sqlalche.me/e/2j85)

In [19]:
df = pd.read_sql_query("""
SELECT * FROM most_profiting_authors
;
""", engine)
df

     AUTHOR ID     PROFIT
0  722-51-5454  11271.528
1  213-46-8915  10150.116
2  213-46-8915  10136.994